/* General tags */
hr{
    height:3px;
width:20%;
    background-color:white;}

h1{font-size:45px;
    font-family: 'Source Serif Pro', serif;}

h2{
    font-family: 'Old Standard TT', serif;}

p{
    font-size:20px;
    font-family: 'Lato', sans-serif;}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f1;
    color:black;}

li {
    float: left;}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li a:hover{
    background-color:#43C6DB;}

li .active{
    background-color:#43C6DB}

/* Main Body*/
.mainbody{
    text-align:center;
    background-image: url('needblue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}

/* Main Body >> Subhead*/
.subhead{
    padding:10%;
    color:white;}

.but1{
    font-size:20px;
    padding:10px 20px;
    background-color:#4a4a4a;
    margin-top:25px;
    color:white;
    border-radius:25px;}

/* About */
.about{
    padding:5%;}

.faws{
    color:#43C6DB;}

.faws:hover{
    color:#1569C7;}

/* Mid Body - Mid */
.mid2{
margin:0% 2%;
}

.mid-mid{
background-image: url('electronics.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:white;
padding:50px 100px;}

.img-mid-bottom{
width:60%;
border-radius:50%;}

.mid-bottom{
margin:0% 15%;}

/*events */

/* flip card */
.flip-card {
    margin:15%;
  background-color: transparent;
  width: 80%;
  height: 350px;
  border-radius:30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color:#2980b9 ;
  color: white;
}

.flip-card-front {
  background-color:#bbb ;
  color: black;
  transform: rotateY(180deg);
}

/* Mid end */

/* Bottom top-Contact */
.contact{margin:0% 2%;}

.contacthover:hover{color:#000456;}
a{text-decoration:none;}
a.link1:link{color:black;}
a.link1:hover{color:blue;}

#contact{opacity:60%;background-color:white;padding-top:30px;}

/* Bottom - bottom*/
.bottom{
text-align:center;
background-color:#cccccc;
color:black;
padding:10px;
opacity:100%;
}
.ops{opacity:80%;}

.footer-link{
margin:3%;
margin-bottom:5%;

}
.footimg{width:40px;}
.footimg:hover{
width:41px;}

/* END */

/* Animation */
.subhead {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0% {opacity:0%}
  100% {opacity:100%}
}
